@import "~bootstrap";

.custom-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

ul {
  input {
    display: none;

    &:checked + label {
      font-size: 1.5em;
    }
  }

  label {
    display: block;
  }
}
